<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,0,0" />
  <title>GAVI</title>
</head>
<body>
  <div class="menu-container">
    <img src="../images/main_logo_menu.png" alt="main logo" class="main-logo">
    <ul class="menu-options">
      <li class="menu-item"><span class="material-symbols-rounded">
        manage_accounts
        </span>Cuenta</li>
      <li class="menu-item"><span class="material-symbols-rounded">
        group_add
        </span>Personal</li>
      <li class="menu-item"><span class="material-symbols-rounded">
        store
        </span>Mis tiendas</li>
      <li class="menu-item"><span class="material-symbols-rounded">
        inventory
        </span>Mercancía</li>
      <li class="menu-item"><span class="material-symbols-rounded">
        currency_exchange
        </span>Ventas</li>
      <li class="menu-item"><span class="material-symbols-rounded">
        sync_alt
        </span>Devoluciones</li>
      <li class="menu-item"><span class="material-symbols-rounded">
        calculate
        </span>Egresos</li>
      <li class="menu-item"><span class="material-symbols-rounded">
        local_shipping
        </span>Proveedores</li>
      <li class="menu-item"><span class="material-symbols-rounded">
        settings
        </span>Configuración</li>
    </ul>
    <div class="menu-footer">
      <img src="../images/main_logo_menu.png" alt="secundary logo" class="secundary-logo">
      <p>Todos los derechos reservados a Lancer Soft.</p>
    </div>
  </div>

  <div class="nav-bar">
    <h1>Ventas</h1>
    <div class="nav-icons">
      <span class="material-symbols-rounded">home</span>
      <span class="material-symbols-rounded">login</span>
    </div>
  </div>

  <div class="btn-section">
    <button class="custom-button">
      <span class="material-symbols-rounded">attach_money</span>
      <span>Realizar una venta</span>
    </button>
    <button class="custom-button">
      <span class="material-symbols-rounded">order_approve</span>
      <span>Relizar cotizaciones</span>
    </button>
    <button class="custom-button">
      <span class="material-symbols-rounded">date_range</span>
      <span>Historial de ventas</span>
    </button>
    <button class="custom-button">
      <span class="material-symbols-rounded">receipt</span>
      <span>Detalle de venta</span>
    </button>
    <button class="custom-button">
      <span class="material-symbols-rounded">aod_tablet</span>
      <span>POS a factura electrónica</span>
    </button>
  </div>
  <div class="dividing-line"></div>
  <div class="section-title">
    <h2>Nueva venta</h2>
  </div>
  <div class="sale-form">
    <div class="left-section">

      <div class="form-row">
        <div class="row-content">
          <label for="seller">Vendedor</label>
          <input type="text" id="seller" placeholder="Nombre del vendedor">
        </div>
        <div class="row-content">
          <label for="bill">Factura</label>
          <input type="text" id="bill" placeholder="Código de factura">
        </div>
      </div>

      <div class="form-row">
        <h3>Datos del cliente</h3>
        <div class="row-content">
          <label for="customer">Nombre</label>
          <input type="text" id="customer" placeholder="Nombre del cliente">
        </div>
        <div class="row-content">
          <label for="document">Documento</label>
          <input type="text" id="document" placeholder="123456789">
        </div>
        <div class="row-content">
          <label for="address">Dirección</label>
          <input type="text" id="address" placeholder="Cl 12 #34-45">
        </div>
      </div>

      <div class="form-row">
        <h3>Datos del producto</h3>
        <div class="row-content">
          <label for="code">Código</label>
          <input type="text" id="code" placeholder="Buscar por código del producto">
        </div>
        <div class="row-content">
          <label for="product">Nombre del producto</label>
          <input type="text" id="product" placeholder="Buscar por nombre">
        </div>
        <div class="row-content">
          <label for="price">Valor unitario</label>
          <input type="number" id="price">
        </div>
        <div class="row-content">
          <label for="amount">Cantidad</label>
          <input type="number" id="amount">
        </div>
      </div>
      
      <div class="form-buttons">
        <button class="form-button green-button">
          <span class="material-symbols-rounded">payments</span>
          <span>Pagar en efectivo</span>
        </button>
        <button class="form-button green-button">
          <span class="material-symbols-rounded">credit_card</span>
          <span>Tarjeta débito/crédito</span>
        </button>
        <button class="form-button green-button">
          <span class="material-symbols-rounded">checkbook</span>
          <span>Crédito</span>
        </button>
        <button class="form-button blue-button">
          <span class="material-symbols-rounded">aod_tablet</span>
          <span>Factura electrónica</span>
        </button>
        <button class="form-button red-button">
          <span class="material-symbols-rounded">cancel</span>
          <span>Cancelar venta</span>
        </button>
      </div>
    </div>
    <div class="right-section">

    </div>
  </div>
</body>
</html>