body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.menu-container {
  position: fixed;
  top: 8px;
  left: 5px;
  bottom: 5px;
  width: 250px;
  background: linear-gradient(180deg, #0df60d, #00cc00, #009900, #006600);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
}

.main-logo {
  width: auto;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  align-self: flex-start;
}

.menu-options {
  list-style-type: none;
  padding: 0;
  width: 100%;
  flex-grow: 1;
}

.menu-item {
  padding: 10px;
  align-items: center;
  display: flex;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.menu-item .material-symbols-rounded {
  margin-right: 10px;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-item.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-footer {
  text-align: center;
  margin-top: 5px;
}

.secundary-logo {
  width: 25%;
  height: auto;
}

.menu-footer p {
  font-size: 10px;
}

.nav-bar {
  margin-left: 275px;
  margin-right: 5px;
  margin-top: 3px;
  background: linear-gradient(to right, #0df60d, #00cc00);
  border-radius: 10px;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-bar h1 {
  margin: 0;
  font-size: 25px;
}

.nav-icons .material-symbols-rounded {
  margin-left: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-icons .material-symbols-rounded:hover {
  color: rgba(255, 255, 255, 0.5);
}

/*fragmento*/

.btn-section {
  margin-left: 285px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.custom-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 80px;
  border: 2px solid;
  border-radius: 8px;
  background: none;
  color: #009900;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3 ease, color 0.3 ease;
}

.custom-button .material-symbols-rounded {
  font-size: 40px;
  margin-bottom: 5px;
}

.custom-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dividing-line {
  margin-left: 280px;
  margin-right: 10px;
  margin-top: 20px;
  height: 1px;
  background-color: #a8a8a8;
}

.section-title {
  margin-left: 275px;
  width: auto;
  padding: 10px;
}

.section-title h2 {
  margin: 0;
  color: rgb(126, 126, 126);
  font-size: 14px;
}

.products-list {
  margin-left: 285px;
  margin-top: 20px;
  height: auto;
  overflow: auto;
}

.products-table {
  border-collapse: collapse;
  font-size: 12px;
}

.products-table th {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}

.name-th {
  width: 25%;
}

.code-th {
  width: 15%;
}

.cat-th, .price-th, .act-th {
  width: 70px;
}

.products-table td {
  padding: 10px;
  text-align: left;
}

.products-table td {
  background-color: #ccf6cc;
}

.products-table tr:nth-child(even) td{
  background-color: #ffffff;
}

.act-buttons {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.modify-button,
.remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modify-button {
  background-color: #f4d763;
  font-size: 10px;
}

.remove-button {
  background-color: #ec5555;
  font-size: 10px;
}